@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #222;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

/* ion-icon {
  pointer-events: none;
} */

#tasks-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#subtitle {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
}

#tasks-header {
  margin-top: 40px;
}

#add-task-form {
  position: relative;

  input {
    box-sizing: border-box;
    border: 1px solid #fff;
    border: 0;
    background: #fff;
    color: #333;
    padding: 13px;
    padding-left: 20px;
    font-size: 15px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

#add-btn {
  position: absolute;
  background: #eee;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  width: 60px;
  height: 100%;
  top: 0;
  right: -1px;
  padding-top: 3px;

  &:hover {
    background: #333;
    color: #fff;
  }
}

ion-icon {
  font-size: 20px;
}

#task-list {
  list-style: none;
  padding: 0;

  ion-icon {
    position: absolute;
    top: 0;
    height: 30px;
    transition: 0.5s;
    cursor: pointer;
    width: 30px;
    padding: 5px;
  }

  li {
    text-align: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-bottom: 3px solid #333;
    margin-bottom: 10px;
    padding-left: 15px;
    transition: 0.5s;
    font-weight: bold;

    &.done {
      background: #555;
      border-color: #999;
      text-decoration: line-through;

      .done-btn {
        color: #333;

        &:hover {
          background: none;
        }
      }
    }

    span {
      font-size: 18px;
    }
  }
}

.done-btn {
  right: 40px;

  &:hover {
    background: #09e01b;
  }
}

.remove-btn {
  right: 0px;

  &:hover {
    background: #eb0927;
  }
}

.hide {
  display: none;
}
